<form action="/themsachmoi" method="post" enctype="multipart/form-data">
    Tên sách: <input type="text" name="ten" /> <br>
    Chọn file: <input type="file" name="fileAnh" /> <br>
    <input type="submit" value="Thực hiện" />

</form>